[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcmdrPlugin.aRnova"]
	path = RcmdrPlugin.aRnova
	url = https://github.com/cran/RcmdrPlugin.aRnova
